@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap");

body {
    margin: 0;
    font-family: "Urbanist", sans-serif;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-btn {
    background-color: #ff9900;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    outline: none;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 50px;
}

.home-btn:hover {
    background-color: #FFFFFF;
    color: #ff9900;
    border: 1px solid #ff9900;
    padding: auto;
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: transform 0.5s ease;
}


.nav-name:hover {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #b46c00;
    color: white;
}

.nav-name {
    padding: 5px 35px;
    color: black;
    border-radius: 5px;
    border: none;
    background-color: #ff9900;
}

.nav-name .fa-user {
    color: #FFFFFF;
    margin-top: 2px;
    text-shadow: #0000006e 0.5px 1px 5px;
    margin-left: -1rem;
    position: absolute;
}

.nav-name .fa-caret-down {
    color: #FFFFFF;
    margin-top: 2px;
    text-shadow: #0000006e 0.5px 1px 5px;
    margin-left: 5px;
    position: absolute;
}

.header {
    background: #111111;
}

.navbar-nav {
    margin-left: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.nav-title a {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #ff9900;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    gap: 50px;
}

.nav-menu a {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
}

.nav-menu .home:hover,
.nav-menu .about:hover {
    color: #ff9900;
    transform: scale(1.1, 1.1);
}
.custcolor{
    color: #ff9900;
}

/* footer */

.footer {
    background-color: #111111;
    color: #ffffff;
    padding: 2rem;
  }
  
  .footer .footer-mm {
    display: flex;
    flex-direction: column;
  }
  
  .footer .footer-link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .footer .footer-link-div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .footer .footer-link-div:first-child{
      width: 350px;
      font-size: 18px;
      margin: 1rem;
  }
  
  .footer .footer-link-div h2{
      color: #ff9900;
      font-weight: bold;
  }
  
  .footer a{
      text-decoration: none;
  }
  .footer a p{
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .footer a p:hover {
    color: #ff9900;
    padding-left: 2px;
  }
  
  .footer .social-media {
    display: flex;
    flex-direction: row;
  }
  
  .footer .social-media i {
    margin:0 10px 0 10px;
    color: #ff9900;
    font-size: 20px;
  }
  .footer .social-media i:hover{
      font-size: 24px;
  }
  
  
  
  .footer .footer-link-div h4 {
    line-height: 17px;
    margin-bottom: 0.9rem;
  }
  
  .footer .footer-link-div p {
    line-height: 15px;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .below-links {
    padding-top: 10px;
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    background-color: #585858;
  }
  .below-links a{
      text-decoration: none;
      color: #000;
      font-weight: lighter;
  }
  .below-links a:hover{
      color : #222;
  }
  
  .below-links p {
    line-height: 15px;
    margin-left: 2rem;
    font-weight: 600;
  }
  
  .footer hr {
    width: 100%;
    border: none;
    border-top: 1px solid #555555;
    margin: 1rem 0;
  }
  
  .footer .copyright {
    line-height: 15px;
    font-weight: 600;
  }